.button-container-about {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.about-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    text-align: center;
    margin: 2em;
    height: 15em;
    flex-flow: column;
    width: 20em;
    color: #333;
    padding: 2em;
    font-size: 1em;
    border-radius: 36px;
    background: #f0f8ff;
    box-shadow: 24px 24px 7px #e6eef5, -24px -24px 7px #faffff;
    transition: linear 0.4s;
    cursor: pointer;
    text-shadow: 0 0 1px #e6eef5, 2px 1px 0px #f0f8ff, 0 0 1px #f0f8ff, 0 0 1px #faffff;
}

@media (min-width: 62em) {
    .button-container-about {
        flex-flow: wrap;
        max-width: 80em;
        
    }
}
