.nav-bar {
    display: flex;
    justify-content: center;
    padding: 2em;
    border-radius: 2em;
    background-color: aliceblue;
    box-shadow: -8px 10px #e7eff6;
    border: solid 1em #faffff;
    transition: linear, 0.3s;
}
.navLink {
    margin-right: .5em;
    margin-left: .5em;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    transition: linear, 0.2s;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 500;
}
.navLink:hover {
    margin-right: .5em;
    margin-left: .5em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #333;
    text-decoration-color: yellow;
}