* {
    list-style: none;
    text-size-adjust: auto;
}

body {
    background-color: white;
    margin: 0em auto;
}

.fixed-nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 4em;
    background-color: black;
}

#check {
    display: none;
}

.fa {
    margin-top: .6em;
}

a {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e82506;
    bottom: 3em;
    left: -200%;
    text-align: center;
    transition: all .6s;
}

nav ul li {
    display: block;
    margin: 1em 1.5em;
    line-height: 1.5;
    text-align: right;
    position: relative;
    top: 9em;
}

nav ul li a {
    font-size: 1.25em;
}

a:hover,
a.active {
    background: none;
    color: #e82506;
    cursor: pointer;
}

.smallnav {
    display: inline-block;
    line-height: 1.5;
    margin: 0 .3em;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 1.2em .81em;
    left: 0;
    text-align: center;
}

.normnav {
    display: inline-block;
    line-height: 1.5;
    margin: 0 .3em;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6em;
    padding: .43em .81em;
    left: 0;
    text-align: center;
}

#check:checked~ul {
    left: 0;
}

.checkbtn {
    font-size: 1.8em;
    color: #ffffff;
    float: right;
    line-height: 1.5;
    margin-right: 1em;
    cursor: pointer;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(12em, 12em);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: center;
    align-content: stretch;
    height: 125vw;
    margin-bottom: 0;
    margin-top: 0;
}

.grid-item-1 {
    grid-column: span 12;
    grid-row: span 1;
    background-color: black;
    height: 5em;
    font-weight: 400;
}

h1 {
    font-family: 'Monoton', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    color: black;
    position: relative;
    top: 4.5em;
    text-transform: uppercase;
}

.buttonlinked {
    width: 10em;
    height: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: .8em solid white;
    background-color: black;
    color: white;
}

.buttongithub {
    width: 10em;
    height: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: .8em solid white;
    background-color: black;
    color: white;
}

.buttonlinked:hover,
.buttongithub:hover {
    /*hover button functions*/
    background-color: black;
    border-color: white;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e82506;
    font-size: 1em;
}

.grid-item-2 {
    grid-column: span 12;
    grid-row: span 1;
    height: 30em;
    background-image: url(/assets/images/standingwoman.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.grid-item-3 {
    grid-column: span 12;
    grid-row: span 1;
    background-color: #ffffff;
}

.grid-item-4 {
    grid-column: span 12;
    grid-row: span 1;
    font-family: "Verdana", SANS-SERIF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2em;
}

.grid-item-5 {
    grid-column: span 6;
    grid-row: span 1;
    font-family: "Verdana", SANS-SERIF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.grid-item-6 {
    grid-column: span 6;
    grid-row: span 1;
    font-family: "Verdana", SANS-SERIF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 4em;
}

.grid-item-7 {
    height: 5em;
}

.grid-item-8 {}


/*not ready to display footer*/

footer {
    display: none;
    height: 1em;
    background-color: white;
    font-family: "arial narrow", arial, sans-serif;
    color: black;
}


/*

.grid-item-9 {


}

.grid-item-10 {


}
*/

@media (min-width: 43em) {
    .grid-item-1 {
        grid-column: span 12;
        grid-row: span 6;
        background-color: black;
    }
    .grid-item-2 {
        grid-column: span 6;
        grid-row: span 6;
    }
    .buttongithub {
        border-color: #ffd401;
    }
    .buttonlinked {
        border-color: #ffd401;
    }
}

@media (min-width: 62em) {
    /*Nav moves from bottom of page to top*/
    .checkbtn {
        display: none;
    }
    .fixed-nav-bar {
        top: 0;
        height: 5.5em;
        background-color: #000000;
    }
    nav ul li {
        display: inline-block;
        margin: 0 .3em;
    }
    nav ul {
        float: right;
        margin-right: 1em;
        position: relative;
        bottom: 8em;
    }
    a.active,
    a:hover {
        color: #e82506;
        transition: .6s;
    }
    ul {
        float: top;
        float: right;
        position: relative;
        left: 0;
        height: 0;
        background: none;
        text-align: none;
    }
    .smallnav {
        display: none;
    }
    .fa {
        margin-top: .6em;
    }
    a {
        font-family: 'Arial Narrow', Arial, sans-serif;
    }
    .normnav {
        display: inline-block;
        line-height: 1.2;
        margin: 0 .3em;
        text-decoration: none;
        color: #ffffff;
        font-size: 1em;
        padding: .43em .81em;
        left: 0;
        text-align: center;
    }
    .checkbtn {
        display: none;
    }
    h1 {
        font-size: 5em;
    }
    .grid-item-2 {
        height: 35em;
    }
}

@media (min-width: 82em) {
    h1 {
        font-size: 6em;
    }
    .grid-item-1 {
        grid-row: span 2;
    }
    .grid-item-2 {
        grid-row: span 2;
        height: 45em;
    }
}