* {
    list-style: none;
    text-size-adjust: auto;
}

body {
    background-color: white;
    margin: 0 auto;
}

.fixed-nav-bar {
    /*nav bar positon */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 4em;
    background-color: black;
}

#check {
    /* fa fa bar controlling function */
    display: none;
}

.fa {
    /*fa fa bar*/
    margin-top: .6em;
}

a {
    /*nav list links*/
    font-family: 'Arial Narrow', Arial, sans-serif;
}

ul {
    /* list block */
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e82506;
    bottom: 3em;
    left: -200%;
    text-align: center;
    transition: all .6s;
}

nav ul li {
    /*nav list style */
    display: block;
    margin: 1em 1.5em;
    line-height: 1.5;
    text-align: right;
    position: relative;
    top: 9em;
}

nav ul li a {
    /*nav list*/
    font-size: 1.25em;
}

a:hover,
a.active {
    /*hover over links on nav*/
    background: none;
    color: #e82506;
    cursor: pointer;
}

.smallnav {
    /*portfolio and contact button on small bottom navigation */
    display: inline-block;
    line-height: 1.5;
    margin: 0 .3em;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 1.2em .81em;
    left: 0;
    text-align: center;
}

.normnav {
    /*navigation bar*/
    display: inline-block;
    line-height: 1.5;
    margin: 0 .3em;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6em;
    padding: .43em .81em;
    left: 0;
    text-align: center;
}

#check:checked~ul {
    /* controls fafa bar */
    left: 0;
}

.checkbtn {
    /*controls fafa bar*/
    font-size: 1.8em;
    color: #ffffff;
    float: right;
    line-height: 1.5;
    margin-right: 1em;
    cursor: pointer;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(5em, auto);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: center;
    align-content: stretch;
    height: 125vw;
    margin-bottom: 0;
    margin-top: 0;
}

.grid-item-1 {
    background-color: #000000;
    grid-column: span 12;
    grid-row: span 1;
}

.grid-item-2 {
    background-color: #000000;
    grid-column: span 2;
    grid-row: span 6;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.grid-item-3 {
    background-color: #000000;
    grid-column: span 8;
    grid-row: span 2;
    background-image: url("../images/balloon.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.grid-item-4 {
    background-color: #000000;
    grid-column: span 2;
    grid-row: span 6;
    color: transparent;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.grid-item-5 {
    background-color: #000000;
    grid-column: span 8;
    grid-row: span 2;
    background-image: url("../images/balloon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15em;
    color: transparent;
    text-align: center;
}

.grid-item-5:hover {
    background-image: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    transition: 0.6s;
    cursor: pointer;
}

.grid-item-6 {
    background-color: #000000;
    grid-column: span 8;
    grid-row: span 2;
    background-image: url("../images/balloon.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 3em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.grid-item-7 {
    background-color: #000000;
    grid-column: span 12;
    grid-row: span 2;
    height: 4em;
    margin-bottom: 2em;
}

.grid-item-8 {
    /* hello */
    background-color: white;
    grid-column: span 4;
    grid-row: span 1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: justify;
}

.grid-item-a {
    /*empty */
    grid-column: span 1;
    grid-row: span 1;
    border: 1em solid black;
    border-radius: 1em;
}

.grid-item-b {
    /*empty */
    grid-column: span 1;
    grid-row: span 1;
    background-color: white;
}

#hannah {
    /* name */
    font-size: 2em;
    color: black;
}

.grid-item-9 {
    /* empty  */
    background-color: white;
    grid-column: span 6;
    grid-row: span 1;
    color: #e82506;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    overflow-wrap: normal;
    line-height: 1.5;
}

.grid-item-k {
    /* empty */
    grid-column: span 12;
    grid-row: span 1;
}

.grid-item-10 {
    /* P1 */
    background-color: black;
    grid-column: span 12;
    grid-row: span 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: normal;
    text-align: center;
    line-height: 1.5;
    padding: 5em;
    margin-top: 2em;
}

.grid-item-c {
    /* empty */
    grid-column: span 12;
    grid-row: span 1;
}

.grid-item-d {
    /*empty*/
    grid-column: span 12;
    grid-row: span 1;
    background: white;
    height: 1em;
}

.punctuation {
    /*punctuation inbetween balloon:idea*/
    color: #e82506;
}

.grid-item-11 {
    /* balloon:idea*/
    background-color: white;
    grid-column: span 12;
    grid-row: span 1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: justify;
    font-weight: 600;
    padding: 1em;
}

.grid-item-e {
    /*empty */
    grid-column: span 1;
    grid-row: span 1;
}

.grid-item-12 {
    /* let go of string */
    background-color: #ffffff;
    grid-column: span 11;
    grid-row: span 1;
    color: #e82506;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-wrap: normal;
    text-align: justify;
    padding: 1em;
}

.grid-item-13 {
    /* empty */
    background-color: white;
    grid-column: span 1;
    grid-row: span 1;
}

.grid-item-14 {
    /* empty  */
    background-color: #ffffff;
    grid-column: span 1;
    grid-row: span 1;
}

.grid-item-15 {
    /* no matter landing*/
    background-color: #ffffff;
    grid-column: span 5;
    grid-row: span 1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: justify;
    padding: 1em;
}

.grid-item-16 {
    /* empty  */
    background-color: #ffffff;
    grid-column: span 12;
    grid-row: span 1;
}

.grid-item-17 {
    /* ability to inspire */
    background-color: #ffffff;
    grid-column: span 12;
    grid-row: span 1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-wrap: normal;
    padding: 1em;
}

.grid-item-f {
    /*empty */
    grid-column: span 12;
    grid-row: span 1;
    height: 2em;
}

.grid-item-18 {
    /* approach*/
    background-color: black;
    grid-column: span 12;
    grid-row: span 2;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: justify;
    margin-top: 0;
    padding: 1em;
}

.grid-item-19 {
    /* empty  */
    background-color: #ffffff;
    grid-column: span 1;
    grid-row: span 2;
    border-left: .3em solid #e82506;
}

.grid-item-20 {
    /* empty  */
    background-color: #ffffff;
    grid-column: span 1;
    grid-row: span 2;
    border-left: .3em solid #e82506;
}

.grid-item-21 {
    /* listen */
    background-color: #000000;
    grid-column: span 8;
    grid-row: span 2;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: center;
    padding: .5em;
}

.grid-item-22 {
    /* empty  */
    background-color: #ffffff;
    grid-column: span 1;
    grid-row: span 2;
    border-right: .3em solid #e82506;
}

.grid-item-23 {
    /* empty  */
    background-color: #ffffff;
    grid-column: span 1;
    grid-row: span 2;
    border-right: .3em solid #e82506;
}

.grid-item-24 {
    /* learn */
    background-color: #e82506;
    grid-column: span 4;
    grid-row: span 2;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: justify;
    font-weight: 600;
}

.grid-item-25 {
    /* empty */
    background-color: #ffffff;
    grid-column: span 1;
    grid-row: span 2;
    border-left: .3em solid #e82506;
}

.grid-item-26 {
    /* empty  */
    background-color: #ffffff;
    grid-column: span 1;
    grid-row: span 2;
    border-left: .3em solid #e82506;
}

.grid-item-27 {
    /* adapt */
    background-color: #ffffff;
    grid-column: span 4;
    grid-row: span 2;
    color: #e82506;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: center;
    font-weight: 600;
    padding: 1em;
}

.grid-item-g {
    /*empty */
    grid-column: span 1;
    grid-row: span 2;
    border-right: .3em solid #e82506;
}

.grid-item-h {
    /*empty */
    grid-column: span 1;
    grid-row: span 2;
    border-right: .3em solid #e82506;
}

.grid-item-28 {
    /* yes and */
    background-color: #e82506;
    grid-column: span 12;
    grid-row: span 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    text-align: justify;
    margin-bottom: 15em;
    padding: 1em;
}

.grid-item-28 a {
    color: white;
    font-weight: 600;
}

.grid-item-28a:hover {
    color: black;
    cursor: pointer;
}

@media (min-width: 43em) {
    body {
        margin: 0 5em;
    }
}

@media (min-width: 62em) {
    /* CHANGE TO TOP NAV BAR*/
    body {
        /*Begin Margin*/
        margin: 0 15em;
    }
    .checkbtn {
        display: none;
    }
    .fixed-nav-bar {
        top: 0;
        height: 5.5em;
        background-color: #000000;
    }
    nav ul li {
        display: inline-block;
        margin: 0 .3em;
    }
    nav ul {
        float: right;
        margin-right: 1em;
        position: relative;
        bottom: 8em;
    }
    a.active,
    a:hover {
        color: #e82506;
        transition: .6s;
    }
    ul {
        float: top;
        float: right;
        position: relative;
        left: 0;
        height: 0;
        background: none;
        text-align: none;
    }
    .smallnav {
        display: none;
    }
    .fa {
        margin-top: .6em;
    }
    a {
        font-family: 'Arial Narrow', Arial, sans-serif;
    }
    .normnav {
        display: inline-block;
        line-height: 1.2;
        margin: 0 .3em;
        text-decoration: none;
        color: #ffffff;
        font-size: 1em;
        padding: .43em .81em;
        left: 0;
        text-align: center;
    }
    .checkbtn {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(10em, auto);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        justify-content: center;
        align-content: stretch;
        height: 125vw;
        margin-bottom: 0;
        margin-top: 7em;
    }
    .grid-item-1 {
        /* empty */
        background-color: #000000;
        grid-column: span 12;
        grid-row: span 1;
    }
    .grid-item-2 {
        /*empty*/
        background-color: #000000;
        grid-column: span 3;
        grid-row: span 6;
    }
    .grid-item-3 {
        /* BALLOON GIRL top*/
        background-color: #000000;
        grid-column: span 6;
        grid-row: span 2;
        background-image: url("../images/balloon.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 6em;
    }
    .grid-item-4 {
        /* empty */
        background-color: #000000;
        grid-column: span 3;
        grid-row: span 6;
        color: transparent;
    }
    .grid-item-5 {
        /* BALLOON GIRL mid*/
        background-color: #000000;
        grid-column: span 6;
        grid-row: span 2;
        background-image: url("../images/balloon.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 13em;
        color: transparent;
        text-align: center;
    }
    .grid-item-5:hover {
        /*css fullstack development label visible on hover underneath balloon girl img*/
        background-image: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-wrap: normal;
        transition: 0.6s;
        cursor: pointer;
    }
    .grid-item-6 {
        /* BALLOON GIRL bottom*/
        background-color: #000000;
        grid-column: span 6;
        grid-row: span 2;
        background-image: url("../images/balloon.jpg");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: 3em;
    }
    .grid-item-7 {
        /* empty */
        background-color: #000000;
        grid-column: span 12;
        grid-row: span 2;
        height: 7em;
        margin-bottom: 4em;
    }
}

@media (min-width: 82em) {
    body {
        /* margin  removed*/
        margin: 0 30em;
    }
    .grid-item-2 {
        grid-column: span 3;
    }
    .grid-item-3 {
        /* BALLOON GIRL top*/
        grid-column: span 6;
    }
    .grid-item-4 {
        grid-column: span 3;
    }
    .grid-item-5 {
        /* BALLOON GIRL mid*/
        height: 18em;
        grid-column: span 6;
    }
    .grid-item-6 {
        /* BALLOON GIRL bottom*/
        height: 5em;
        grid-column: span 6;
    }
    .grid-item-7 {
        margin-bottom: 5em;
    }
    .grid-item-a {
        /*black*/
        border: 2em solid black;
    }
    .grid-item-10 {
        margin-top: 5em;
    }
    .grid-item-17 {
        padding-left: 6em;
    }
    .grid-item-d {
        height: 5em;
    }
    .grid-item-f {
        height: 4em;
    }
    .grid-item-21 {
        height: 4em;
    }
    .grid-item-24 {
        height: 4em;
    }
    .grid-item-27 {
        /* adapt */
        font-size: 2em;
    }
    .grid-item-28 {
        font-size: 1.5em;
    }
}